body {
    background-color: lightgray;
    color: black;
    font-family: Arial, sans-serif;
}

/* Left column styling */
.col-3 {
    background-color: #d3dae7; 
    padding: 20px;
}

/* Search bar and button */
#user-input {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* City list */
.list-group-item {
    border: 1px solid #6c757d;
    background-color: lightgrey;
}

.list-group-item:hover {
    background-color: lightgrey;
    cursor: pointer;
}

/* Weather display */
.col-9 {
    background-color: #4a6681;
    padding: 20px;
}

.five-day-card {
    background-color: #4a6681;
    margin: 15px;
    border: none;
}

#forecast-row {
    display: flex;
    justify-content: space-between;
}
